.form-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.new-to-do-form, .new-list-form {
    display: none;
    margin-bottom: 10px;
}

.description-input {
    resize: none;
}

input[type=checkbox] {
    margin: 0px;
}

.list-button-div {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.list-button-div > button {
    border: 2px solid black;
    border-radius: 3px;
}

#default-list {
    border: 2px solid red;
}

.project-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.project-div > * {
    border: 1px solid black;
    padding: 3px;
}